PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://lasindu5909_db_user:LsYSokVyvsZtejKz@text-editor.mw8gv0i.mongodb.net/collab_notes?retryWrites=true&w=majority
JWT_SECRET=k9mP2xQ8vL5nR3wE7yT1uA6sD4jH0cF
JWT_EXPIRES_IN=7d
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax
CLIENT_ORIGIN=http://localhost:3000
